h1{
    font-size: 31px; 
    text-transform: uppercase; 
    font-style: italic;
    font-family: "William", serif;
    font-weight: normal;
    margin-bottom: 0;
    padding-top: 45px;
    color:black;
}
h2{
    font-size: 31px;
    font-family: "Inter", sans-serif;
    margin-top: 0;
    margin-bottom: 35px;
    color:black;
}
h3{
    font-family: "Inter", sans-serif ;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: normal;
    margin: 0;
    color:black;
}
p{
    font-family: "Inter", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
body{
    min-width: 850px;
}
img{
    width: 210px;
    margin-bottom: 80px;
}
div{
    height: 500px;
    width: 500px;
    text-align: center;
    margin: 0 auto 20px;
    background-color: purple;
}